# Append to sdkconfig.defaults using a separate SDKCONFIG/build directory.
CONFIG_L2D_EXAMPLE_LIGHT=y
# CONFIG_L2D_LIGHT_FROM_SD is not set
CONFIG_L2D_LIGHT_PHASE_SECONDS=30
# CONFIG_L2D_PROFILE_TIMING is not set
CONFIG_L2D_SRM_ROI=y
CONFIG_L2D_RASTER_WORKERS=y
CONFIG_L2D_RENDER_RGB565_BANDS=y
CONFIG_L2D_RASTER_SCRATCH_BYTES=65536
# CONFIG_L2D_RASTER_SCRATCH is not set
# CONFIG_L2D_CLEAR_OVERLAP is not set
# CONFIG_L2D_CLEAR_PIE is not set
# CONFIG_L2D_CONVERT_PIE is not set
# CONFIG_L2D_CONVERT_BITSCRAMBLER is not set
